{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom md-4" style="color:white">Idea (Design Project)</legend>
          <h4 style="color:white">{{ form|crispy }}</h4>
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
      </form>

    </div>
{% endblock content %}
