{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom md-4" style="color:white">Register</legend>
          <h5 style="color:red">Please register your username as your Class_Rollno</h5>
          <h3 style="color:white">{{ form|crispy }}</h3>
        </fieldset>
        <div class="form-group"  align="center">
          <button class="btn btn-outline-info" type="submit" align="center">Register</button>
        </div>
      </form>
        <div class="border-top pt-3">
          <small class="test-muted">Do you have an account? <a href="#" class="ml-2">Sign In</a></small>
        </div>


    </div>
{% endblock content %}
