{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <h1 class="mb-3">ADSL Project Abstract of {{ view.kwargs.username }}</h1>
    {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'ADSL-user-abstract' post.author.username %}">{{ post.author.profile.name }}-{{ post.author.profile.class_div }}-{{ post.author.profile.rollno }}</a>
          <small class="text-muted">{{ post.uploaded_at|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'ADSL-abstract-detail' post.id %}">{{ post.title }}</a></h2>

      </div>
    </article>

    {% endfor %}
{% endblock content %}
