{% load static %}
body {

  color: #333333;
  margin-top: 5rem;
  font-family: Arial;
  padding: 100px;
  margin: 0;
  background: #000000;
}

/* #particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
} */

h1, h3, h4, h5, h6, p {
  color: #ffffff;
}
h2{
  color: #fcf003
}

ul {
  margin: 0;
}
ul.list-group li {
 background-color: rgba(11, 222, 218, 0.3);
}
.title{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-steel {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.new{
  align: center;
}
.content-section {

  background: rgba(3, 102, 130, 0.5);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.welcome{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  align-content: center;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 18px;
  margin-bottom: 20px;

}
.butt{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  align-content: center;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 18px;
  margin-bottom: 20px;

}

.article-title {
  color: #bd063d;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: #080a09;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
